<nav id="nav-bar" class="nav-bar">
    <div class="nav-bar-logo">
      <!-- logo placeholder -->
    </div>
    <div class="nav-bar-links">
      <a routerLink="/" data-menuanchor="home">home</a>
      <a routerLink="/about" data-menuanchor="about">about</a>
      <a routerLink="/portfolio" data-menuanchor="portfolio">portfolio</a>
      <!-- <a routerLink="/photography" data-menuanchor="photography">photography</a> -->
      <!-- <a routerLink="/music" data-menuanchor="music">music</a> -->
      <a routerLink="/contact" data-menuanchor="contact">contact</a>
    </div>
  </nav>
  