<app-navbar></app-navbar>
<div fullpage id="fullpage" (ref)="getRef($event)">
<!-- <div fullpage id="fullpage" [options]="config" (ref)="getRef($event)"> -->
    <app-home class="section"></app-home>
    <app-about class="section"></app-about>
    <app-portfolio class="section"></app-portfolio>
    <!-- <app-photography class="section"></app-photography> -->
    <!-- <app-music class="section"></app-music> -->
    <app-contact class="section"></app-contact>
</div>
<router-outlet></router-outlet>
