.bg {
    background-image: url("../assets/plant-bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  app-navbar {
    position: absolute;
    width: 100%;
    z-index: 1000;
  }