.home-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .home-title {
      text-align: center;
      .name {
        font-family: "Canela", serif;
        font-size: 85px;
        font-weight: bold;
        color: #8a7e69;
        filter: drop-shadow(2px 4px 8px #a9a9a9);
      }
      .marquee {
        // max-width: 70%;
        .marquee-item {
          color: #4b6380;
          font-size: 35px;
          font-weight: 200;
          background-position: 0% 100%;
          box-sizing: border-box;
          padding-right: 2px;
          position: relative;
          transition: background-position 1s;
  
          &::after {
            animation: blink-cursor 0.75s step-end infinite;
            background-color: transparent;
            content: "";
            display: block;
            height: 2rem;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 2px;
          }
  
          &.highlight {
            background-image: linear-gradient(
              to left,
              rgba(0, 0, 0, 0.05) 50%,
              transparent 50%
            );
            background-position: 100% 100%;
            background-repeat: no-repeat;
            background-size: 200% 2rem;
  
            &::after {
              animation: none;
            }
          }
        }
      }
  
      .location {
        font-size: 30px;
        color: #4b6380;
        font-weight: 200;
      }
    }
  }
  
  @keyframes blink-cursor {
    0% {
      background-color: transparent;
    }
    50% {
      background-color: black;
    }
  }
  
  @media only screen and (max-width: 600px) {
    html {
      font-size: 12px;
    }
  
    .marquee-item {
      border-bottom: 2px solid red;
    }
  }